Question asked by {{question.author}}, Address {{question.email}} <br><br>Topic: {{question.topic}}
<br>{{question.question}} 

<p><img src={{questioin.image}} alt={{question.topic}}></p>

<button {{action 'delete' rental}}>Delete</button><br><br>