<li>
  {{#link-to 'question' question.id}}{{question.author}} {{question.question}} question{{/link-to}}<br><br>
  {{#if isImageShowing }}
    <p><img src={{question.image}} alt={{question.topic}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show Image</button>
  {{/if}}
   <button {{action 'delete' question}}>Delete question</button>
</li>
